.customer {
	padding-bottom: 450px;
	position: relative;
  overflow: hidden;
	
	@include mobile {
		display: none;
	}
	
	&__deco {
		position: absolute;
		right: -20px;
		z-index: -1;
	}

	.carousel {
		position: relative;
		top: 150px;
		z-index: 2;
		.base {
			width: 800px;
			height: 550px;
			position: absolute;
			left: 50%;
			top: 60%;
			transform: translate(-50%, -50%);
			background: #f2f2f2;
		}

		&__list {
			@include mx-auto;
			position: relative;
			width: 90%;
			z-index: 1;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 15px;
		}

		&__item {
			background-color: #fff;
			padding: 40px 32px;
			border-radius: 4px;
			display: flex;
			flex-direction: column;
			gap: 20px 0;
			box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);

			.item {
				&__rating {
					color: #fbb040;
				}

				&__footer {
					font-weight: 700;
				}
			}
		}

		&__control {
			padding: 4px;
			border-radius: 100px;
			background-color: #fff;
			position: absolute;
			bottom: -100px;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			gap: 4px;
		}
		&__btn {
			@include transition;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			width: 50px;
			height: 50px;

			&:hover {
				background-color: #000;
				color: #fff;
				cursor: pointer;
			}
		}
	}
}
