.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 190px;
  gap: 0 130px;
  @include tablet {
    gap: 0 30px;
  }
  @include mobile() {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    padding-bottom: 100px;
  };

  .decorators {
    position: absolute;
    z-index: -1;
    left: 0;
  }

  &__item {
    @include transition;
    &:hover {
      transform: translateY(-4px);
    }
  }
}